<p id="notice"><%= notice %></p>
<%# <div class="flexslider">
  <ul class="slides">
    <li>
      <img src="http://via.placeholder.com/350x150" />
    </li>
    <li>
      <img src="http://via.placeholder.com/350x150" />
    </li>
    <li>
      <img src="http://via.placeholder.com/350x150" />
    </li>
  </ul>
</div>
<script>
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide"
  });
});
</script> %>
  <section class="category-section">
<div class="category-1">
<img src="https://images.unsplash.com/photo-1550399105-c4db5fb85c18?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80" class="catergory-book">
<h3>title</h3>
<h3>Author's name</h3>
</div>
<div class="category-1">
<img src="">
<h3>title</h3>
<h3>Author's name</h3>
</div>
<div class="category-1">
<img src="">
<h3>title</h3>
<h3>Author's name</h3>
</div>
<div class="category-1">
<img src="">
<h3>title</h3>
<h3>Author's name</h3>
</div>
</section>
<h1>reviews</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      
      <p><%= review.title %></p>
      <p> <%= review.text %></p>
      <tr>
        <td><%= link_to 'Show', review %></td>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_review_path %>
<%= render 'footer' %>