<h3 class="text-center mt-2">You just finish reading a book?</h3>
<h5 class="text-center"> Write a Review!</h5>
<%= form_with(model: @review, local: true) do |form| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
    
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="new_review align-items-center d-flex flex-column justify-content-between">

  <div class="field">
    <%= form.label :title, class: 'form-label'  %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, class: "form-control" %>
  </div>
  <div class="field">
   <%= form.label :image %>
  <%= form.file_field :image, required: true, class: 'form-control' %>
        </div>
         <div class="field">
        <%= form.collection_select :category_id, Category.all, :id, :name, {prompt: "Select Category"}, required: true, class: 'form-control' %>
    </div>
  <div>
    <%= form.submit 'Submit Review', class: 'form-control btn primary-bg-color'  %>
  </div>
<% end %>
<p class="text-center">
    <%= link_to 'click to add a new category here', new_category_path, class: 'primary-color text-decoration-none' %></p>

</div>

